{%extends "questionnaire/layouts/base.html"%} 
{% block content %}
<div class=" pb-5 container">
    <div class="col-sm-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                {% for skill in skills %}
                <h2>{{skill}}</h2>
                    {% for question in skill.question_set.all %}
                    <h4 class="text-danger">{{question}}</h4>
                        {% for answer in question.answer_set.all %}
                        <p>{{answer}}</p>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>



{% endblock %}
{% block scripts %} 
<script>
    $.get("{% url 'questionnaire:questionFetch' %}", function (data) {
            console.log(data);
        })
            .done(function () {
                console.log("second success");
            })
            .fail(function () {
                console.log("error");
            })
            .always(function () {
                console.log("finished");
            });
</script>
{% endblock %}