{% extends 'users/layouts/base.html' %} 
{% load static from staticfiles %} 
{% block title %}{{article.title}} {% endblock %}
{% block content %}

<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1 class="mt-4">{{article.title}}</h1>

      <hr>

      <!-- Date/Time -->
      <p>Posted on {{article.date}}</p>

      <hr>

      <!-- Preview Image -->
      <img class="img-fluid rounded" src="{{article.thumb.url}}" alt="">


      <!-- Post Content -->
      <pre class="lead mt-3">{{article.body}}</pre>
      <hr>
          <h3><i class="far fa-comments"></i> Comments</h3>
        <div class="card-body">

          <!-- Single Comment -->
          {% for com in comment %}
          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" style="width:50px" src="{{com.author.profile.img_src.url}}" alt="">
            <div class="media-body">
              <h5 class="mt-0">{{ com.author }}</h5> {{ com.text }}
            </div>
          </div>
          <hr> 
          {% endfor %}
        </div>
      </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
      <br>
      <br>
      <br>

      <!-- Search Widget -->
      {% comment %} <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
          </div>
        </div>
      </div> {% endcomment %}

      {% if request.user.is_authenticated %}
      
      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form action="{% url 'article:details' slug=article.slug %}" method="post" enctype="multipart/form-data">
            <div class="form-group">
              {% csrf_token %} {% for field in form %} {{field}} {% endfor %}
              
            </div>
            <button type="submit" class="btn btn-primary">Add comment</button>
          </form>
        </div>
      </div>
      {% else %}
      <div class="alert alert-info">
        <p>
          <a class="btn-link formssh" href="Javascript:void(0)">Sign in/Sign up</a> so you can leave a comment
        </p>
      </div>
      {% endif %}
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}