{%extends "watch_course/layouts/base.html"%} 
{% block title %}{{course_title}} {% endblock %}
{% block content %}

    
<div class="container">
    <div class="card">
        <div class="card-body">
 {% if links|length == 1 %} 
         <p>Unfortunately we couldn't track your progress as there is no playlist for <span class="text-success capitalize">{{course_title}}</span> at our database so we recommmend you the following course</p>
         <a href="{{current_link}}" class="btn btn-dark" target="_blank">Start  {{course_title}}</a>
     
 {% else %}
 
    <legend class="text-dark capitalize">Course title: {{course_title}}</legend>
    <div class="row">
        <div class="col-md-8">
            <!-- current video -->
            <iframe  class="w-100" height="500" src="https://www.youtube-nocookie.com/embed/{{current_link}}?rel=0&modestbranding=1&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen ></iframe>
        </div>
        <div class="col-md-4">
            {% if prev_index %}
            <a href="/watch/{{prev_index}}" class="btn btn-info btn-lg "><i class="fas fa-step-backward"></i> Previous video</a>
            <br>
            {% endif %}
            {% if next_index %}
            
            <a href="/watch/{{next_index}}" class="btn btn-primary btn-lg mt-3 mb-3"><i class="fas fa-step-forward"></i> Next video</a>
            {% else %}
            <a href="/finish/{{next_index}}" class="btn btn-success btn-lg mt-3 mb-3"><i class="fas fa-certificate"></i> Great! you have finished . .</a>

            {% endif %}
            <h5><i class="fas fa-life-ring"></i> Progress</h5>
            <div class="progress mt-3 ">
                <div class="progress-bar {% if not next_index %} bg-success {% endif %}" role="progressbar" style="width: {{progress}}%"></div>
            </div>
            {% comment %} <div class="list-group">
                <legend class="list-group-item text-dark">Content list</legend>
                <!-- for loop for the videos list , current video with active class -->
                
                {% for link in links %}
                    
                <a href="/watch/{{forloop.counter}}" class="list-group-item list-group-item-action {% if link == current_link %} active{% endif %}">
                    {{forloop.counter}}
                </a>
                {% empty %}
                    
                {% endfor %}
            </div> {% endcomment %}
        </div>
    </div>
 {% endif %}
</div>
</div>
</div>

</iframe>
{% endblock %}
