<div class="row">
    <div class="col-6">
        <a href="#" class="card bg-info text-light">
            <div class="card-body row">
                <i class="fas fa-road fa-5x col-4"></i>
                <div class="col-8">
                    <h5>underway course</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-6">
        <a href="#" class="card bg-dark text-light">
            <div class="card-body row">
                <i class="fas fa-redo-alt fa-5x col-4"></i>
                <div class="col-8">
                    <h5>retake questionnaire</h5>
                </div>
            </div>
        </a>
    </div>
</div>