{% load static %}
<div class="row">

  <div class="col-sm-12 col-md-12 tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{% url 'user:change_profile' %}">
        {% csrf_token %}
        <!-- user setting -->
        <!-- profile picture -->
        <div class="parent">
          <img class="image1 rounded" src="{{user.profile.img_src.url}}" />
          <label for="image_choose" class="image2 fas fa-camera fa-4x"></label>
          <input onchange="imageChanged()" style="display:none" type="file" name="img_src" id="image_choose">
          <div class="invalid-feedback"></div>
        </div>
        <!-- name -->
        <div class="form-group">
          <label class="form-control-label" for="inputDanger1">Username</label>
          <input value="{{ request.user.username }}" readonly class="form-control" type="text">
          <div class="invalid-feedback"></div>
        </div>
        <div class="row">
        <div class="form-group col-6">
          <label class="form-control-label" for="inputDanger1">First name</label>
          <input value="{{ request.user.first_name }}" name="first_name" class="form-control" type="text">
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group col-6">
          <label class="form-control-label" for="inputDanger1">Last name</label>
          <input value="{{ request.user.last_name }}" name="last_name" class="form-control" type="text">
          <div class="invalid-feedback"></div>
        </div>
        </div>
        <!-- short bio -->
        <div class="form-group">
          <label class="form-control-label" for="inputDanger1">Bio</label>
          <textarea name="bio" class="form-control" rows="3">{{ request.user.profile.bio }}</textarea>
          <div class="invalid-feedback"></div>
        </div>
        <button type="submit" class="btn btn-primary float-right">
                    <!-- <i  class="fas fa-spinner fa-pulse"></i> -->
                    Save</button>
      </form>
    </div>
    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
      <form class="form-horizontal" method="post" action="{% url 'user:change_security' %}" enctype="multipart/form-data">
         {% csrf_token %}
        <!-- security setting -->
        <!-- email -->
        <div class="form-group">
          <label class="form-control-label" for="inputDanger1">Email address</label>
          <input value="{{ request.user.email }}" name="email" class="form-control" type="email">
          <div class="invalid-feedback"></div>
        </div>
        <!-- password -->
        <div class="form-group">
          <label class="form-control-label" for="inputDanger1">Change password</label>
          <input class="form-control" type="password" name="password">
          <div class="invalid-feedback"></div>
        </div>
        <button type="submit" class="btn btn-success float-right">
                    <!-- <i  class="fas fa-spinner fa-pulse"></i> -->
                    Save</button>
      </form>
    </div>
  </div>
</div>