
<div class="forms">
    <div class="m-5">
        <button type="button" class="close formssh" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="register d-flex justify-content-center w-100">
        <div class="container">
            <h1 class="text-center m-5" id="forms-title">Sign in</h1>
            <div class="row  d-flex justify-content-center">
                <div class="col-md-5 p-3 p-lg-5" id="register">
                  <form enctype="multipart/form-data" action="/users/signup/" method="post">
                  	{%csrf_token%}
                  	{{register_form}}
                  	<br>
                  	<input type="submit" name="" value="submit">

                    <a href="Javascript:void(0)" class="btn btn-link text-center w-100" id="showsignin">Already a member? login</a>

                  </form>
                    <!-- <form action="">
                        <div class="input-group mb-2">
                            <input type="email" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-2">
                            <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-2">
                            <input type="password" class="form-control" placeholder="Confirm password" aria-describedby="basic-addon1">
                        </div>
                        <button type="button" class="btn btn-dblue btn-lg btn-block">Go</button>
                        <a href="Javascript:void(0)" class="btn btn-link text-center w-100" id="showsignin">Already a member? login</a>
                    </form> -->
                </div>
                <div class="col-md-5 p-3 p-lg-5" id="login">
                  <form enctype="multipart/form-data" action="/users/login/" method="post">
                    {%csrf_token%}
                    {{login_form}}
                    <input type="submit" name="" value="submit">


                    <a href="Javascript:void(0)" class="btn btn-link text-center w-100" id="showsignup">Don't have an account? Sign up</a>
                  </form>
                    <!-- <form action="">
                        <div class="input-group mb-2">
                            <input type="email" class="form-control is-invalid" placeholder="Email" aria-describedby="basic-addon1">
                            <div class="invalid-feedback">
                                Please enter email.
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-check mb-2">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label  w-100" for="exampleCheck1">Remember me
                                <a href="#" class=" float-right">Forgot password</a>
                            </label>
                        </div>
                        <button type="button" class="btn btn-dblue btn-lg btn-block">Go</button>
                        <a href="Javascript:void(0)" class="btn btn-link text-center w-100" id="showsignup">Don't have an account? Sign up</a>
                    </form> -->
                </div>

                <div class="col-md-5 p-3 p-lg-5">
                    <button type="button" class="btn btn-primary btn-lg btn-block">Login with Facebook</button>
                    <button type="button" class="btn btn-danger btn-lg btn-block">Login with Google+</button>
                </div>
            </div>
        </div>
    </div>
</div>
